html {
  background-color: #30323F;
}

.active {
  display: none;
}

#selected {
  height: 26px;
  width: 26px;
  border-width: 2px;
  border-color: red;
  position: absolute;
  border-style: solid;
}

.sprite {
	position: absolute;
	height: 24px;
	width: 24px;
	padding: 3px;
}

#map {
  height: 600px;
  width: 820px;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -410px;
  position: absolute;
}

#mapCanvas {
  height: 600px;
  width: 600px;
  display: inline-block;
  vertical-align: bottom;
}

#sidePanel {
  height: 600px;
  width: 170px;
  margin-left: 30px;
  background-color: #262832;
	display: inline-block;
  vertical-align: bottom;
}

#legend {
  height: 500px;
  width: 160px;
  padding-top: 2px;
  margin: 5px;
  background-color: #1D1E26;
	display: block;
  border-radius: 10px;
}

.legendItem {
  height: 24px;
  width: 134px;
  margin: 5px 5px 0px 5px;
  padding: 8px;
  background-color: #34343C;
	display: block;
  border-radius: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
}

#done {
  height: 30px;
  width: 160px;
  margin: 5px;
  padding-top: 8px;
  background-color: #70DB70;
	display: block;
  border-radius: 10px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  display: ;
  position: relative;
  cursor: pointer;
}

#reset {
  height: 30px;
  width: 160px;
  margin: 5px;
  padding-top: 8px;
  background-color: #FF6666;
	display: block;
  border-radius: 10px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
  display: block;
  position: relative;
  cursor: pointer;
}

#canvas {
	display: inline-block;
}

#source {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  margin: 35px;
  padding:25px;
  height: 480;
  width: 480;
  background-color: #FFFFFF;
  position: absolute;
  border-radius: 10px;
}

#closeSource {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
  bottom: 10%;
  left: 50%;
  margin-left: -25px;
  padding: 5px;
  height: 20px;
  width: 40px;
  background-color: #70DB70;
  position: absolute;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
