/*
--------------------------------------------------------
Basic
--------------------------------------------------------
*/

html {
	background-color: black;
}

#frame {
	position: absolute;
	height: 600px;
	width: 600px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -300px;
	background-color: #fed121;
}

.active {
	display: none;
}

/*
--------------------------------------------------------
Instructions
--------------------------------------------------------
*/

#main {
	background-color: orange;
	position: relative;
	height: 100%;
	width: 100%;
}

/*
--------------------------------------------------------
Info
--------------------------------------------------------
*/

#score {
	position: absolute;
	height: 50px;
	width: 500px;
	top: 200px;
	left: 50%;
	margin-left: -250px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 100px;
	color: #E5BC1E;
}

#speed {
	position: absolute;
	height: 50px;
	width: 150px;
	top: 330px;
	left: 50%;
	margin-left: -75px;
	/*background-color: black;*/
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color: #E5BC1E;
	letter-spacing: 2px;
}

#speedInfo {
	position: absolute;
	height: 50px;
	width: 300px;
	top: 350px;
	left: 50%;
	margin-left: -150px;
	/*background-color: black;*/
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color: #E5BC1E;
}

#enabledSpeed {
	display: inline-block;
	margin: 0px -5px 0px 0px;
	padding: 0px;
	color: #B29217;
}

#disabledSpeed {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

#start {
	position: absolute;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	color: #FED121;
	height: 35px;
	width: 200px;
	top: 50%;
	left: 50%;
	margin-top: -17.5px;
	margin-left: -100px;
	padding: 5px;
	text-align: center;
	background-color: #E5BC1E;
	border-radius: 10px;
}

#gameOver {
	position: absolute;
	font-family: 'Oswald', sans-serif;
	font-size: 60px;
	color: #E5BC1E;
	width: 500px;
	top: 45%;
	left: 50%;
	margin-top: -40px;
	margin-left: -250px;
	text-align: center;
}

#tryAgain {
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	color: #FED121;
	height: 35px;
	padding: 5px;
	width: 200px;
	text-align: center;
	margin: 0px auto 0px auto;
	background-color: #E5BC1E;
	border-radius: 10px;
}

/*
--------------------------------------------------------
Sprites
--------------------------------------------------------
*/

#target {
	position: absolute;
	height: 30px;
	width: 30px;
	top: 0px;
	left: 0px;
	background-color: green;
}

#sprite {
	position: absolute;
	height: 30px;
	width: 30px;
	top: 30px;
	left: 30px;
	background-color: black;
}

/*
--------------------------------------------------------
Obstacles
--------------------------------------------------------
*/
