/*
--------------------------------------------------------
General
--------------------------------------------------------
*/

html {
	background-color: #30323F;
	max-width: 100%;
	overflow-x: hidden;
}

#mainPanel {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -452.5px;
	width: 905px;
	height: 600px;
}

#gamePanel {
	position: relative;
	display: inline-block;
	height: 600px;
	width: 600px;
	background-color: #4D8A4D;
}

.active {
	display: none;
}

#start {
	position: absolute;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	color: #A6C4A6;
	height: 35px;
	width: 200px;
	top: 50%;
	left: 50%;
	margin-top: -17.5px;
	margin-left: -100px;
	padding: 5px;
	text-align: center;
	background-color: #71A171;
	border-radius: 10px;
	cursor: pointer;
}

#start:hover {
	background-color: #5F965F;
}

#gameOver {
	position: absolute;
	font-family: 'Oswald', sans-serif;
	font-size: 60px;
	color: #30323F;
	width: 400px;
	top: 35%;
	left: 50%;
	margin-left: -200px;
	padding-top: 10px;
	padding-bottom: 30px;
	text-align: center;
	background-color: #FFFFFF;
	border-radius: 10px;
}

#tryAgain {
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	color: #FFFFFF;
	height: 35px;
	padding: 5px;
	width: 200px;
	text-align: center;
	margin: 0px auto 0px auto;
	background-color: #30323F;
	border-radius: 10px;
	cursor: pointer;
}

/*
--------------------------------------------------------
Instructions
--------------------------------------------------------
*/

#main {
	background-color: orange;
	position: relative;
	height: 100%;
	width: 100%;
}

/*
--------------------------------------------------------
Info
--------------------------------------------------------
*/

#sidePanel {
	background-color: #3C3F4F;
	width: 300px;
	height: 600px;
	display: inline-block;
	position: relative;
}

#score {
	position: absolute;
	height: 50px;
	width: 500px;
	top: 200px;
	left: 50%;
	margin-left: -250px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 100px;
	color: #505261;
}

#speed {
	position: absolute;
	height: 50px;
	width: 150px;
	top: 330px;
	left: 50%;
	margin-left: -75px;
	/*background-color: black;*/
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color: #505261;
	letter-spacing: 2px;
}

#speedInfo {
	position: absolute;
	height: 50px;
	width: 300px;
	top: 350px;
	left: 50%;
	margin-left: -150px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color: #505261;
}

#enabledSpeed {
	display: inline-block;
	margin: 0px -5px 0px 0px;
	padding: 0px;
	color: #636572;
}

#disabledSpeed {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	color: #505261;
}

/*
--------------------------------------------------------
Sprites
- Emoji provided free by http://emojione.com
--------------------------------------------------------
*/

#target {
	position: absolute;
	height: 30px;
	width: 30px;
	top: 0px;
	left: 0px;
}

#sprite {
	position: absolute;
	height: 30px;
	width: 30px;
	top: 30px;
	left: 30px;
}

/*
--------------------------------------------------------
Obstacles
--------------------------------------------------------
*/
