/*
--------------------------------------------------------
General
--------------------------------------------------------
*/

html {
	background-color: #30323F;
	max-width: 100%;
	overflow-x: hidden;
}

.active {
	display: none;
}

/*
--------------------------------------------------------
Main Panel
--------------------------------------------------------
*/

#mainPanel {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -452.5px;
	width: 905px;
	height: 600px;
}

/*
--------------------------------------------------------
Screens
--------------------------------------------------------
*/

#mainScreen {
	height: 100%;
	width: 100%;
	background-color: #3D6BBF;
}

#mainTitle {
	position: absolute;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 128px;
	color: #FFFFFF;
	height: 35px;
	width: 400px;
	top: 25%;
	left: 50%;
	margin-left: -200px;
	text-align: center;
}

#start {
	position: absolute;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #FFFFFF;
	height: 35px;
	width: 200px;
	top: 55%;
	left: 50%;
	margin-left: -100px;
	padding: 5px;
	text-align: center;
	background-color: #B8A073;
	border-radius: 10px;
	cursor: pointer;
}

#start:hover {
	background-color: #A69068;
}

#gameOverScreen {
	height: 100%;
	width: 100%;
	background-color: #3D6BBF;
}

#gameOverMenu {
	position: absolute;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 60px;
	color: #30323F;
	width: 400px;
	top: 30%;
	left: 50%;
	margin-left: -200px;
	padding-top: 10px;
	padding-bottom: 30px;
	text-align: center;
	background-color: #FFFFFF;
	border-radius: 10px;
}

.gameOverMenuButton {
	display: block;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #FFFFFF;
	height: 35px;
	padding: 5px;
	width: 200px;
	text-align: center;
	margin: 5px auto 5px auto;
	background-color: #30323F;
	border-radius: 10px;
	cursor: pointer;
}

.gameOverMenuButton:hover {
	background-color: #2B2D39;
}

/*
--------------------------------------------------------
Game
--------------------------------------------------------
*/

#gamePanel {
	position: relative;
	display: inline-block;
	height: 600px;
	width: 600px;
	background-color: #363947;
}

/*
--------------------------------------------------------
Sprites
- Emoji provided free by http://emojione.com
--------------------------------------------------------
*/

.sprite {
	position: absolute;
	height: 24px;
	width: 24px;
	padding: 3px;
}

/*
--------------------------------------------------------
Side Panel
--------------------------------------------------------
*/

#sidePanel {
	background-color: #262832;
	width: 300px;
	height: 600px;
	display: inline-block;
	position: relative;
}

#countDown {
	position: absolute;
	height: 255px;
	width: 290px;
	margin: 5px;
	padding-top: 35px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 150px;
	font-weight: 700;
	color: #FFFFFF;
	background-color: #1D1E26;
	border-radius: 10px;
}

#itemsTitle {
	top: 295px;

}

#itemsInventory {
	position: absolute;
	top: 335px;
	height: 150px;
	width: 290px;
	margin: 5px;
	padding-top: 25px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #FFFFFF;
	background-color: #1D1E26;
	border-radius: 10px;
}

.itemInventory {
	height: 45px;
	top: 325px;
}

.sidePanelButton {
	position: absolute;
	height: 30px;
	width: 290px;
	margin: 5px;
	padding-top: 5px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
	background-color: #1D1E26;
	border-radius: 10px;
}

#pause {
	top: 515px;
}

#settings {
	top: 555px;
}
