/*
--------------------------------------------------------
General
--------------------------------------------------------
*/

html {
	background-color: #30323F;
	max-width: 100%;
	overflow-x: hidden;
}

.active {
	display: none;
}

/*
--------------------------------------------------------
Main Panel
--------------------------------------------------------
*/

#mainPanel {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -452.5px;
	width: 905px;
	height: 600px;
}

/*
--------------------------------------------------------
Screens
--------------------------------------------------------
*/

#mainScreen {
	height: 100%;
	width: 100%;
	background-color: #3D6BBF;
}

#start {
	position: absolute;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #A6C4A6;
	height: 35px;
	width: 200px;
	top: 50%;
	left: 50%;
	margin-top: -17.5px;
	margin-left: -100px;
	padding: 5px;
	text-align: center;
	background-color: #71A171;
	border-radius: 10px;
	cursor: pointer;
}

#start:hover {
	background-color: #5F965F;
}

#gameOverScreen {
	height: 100%;
	width: 100%;
	background-color: orange;
}

#gameOverMenu {
	position: absolute;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 60px;
	color: #30323F;
	width: 400px;
	top: 30%;
	left: 50%;
	margin-left: -200px;
	padding-top: 10px;
	padding-bottom: 30px;
	text-align: center;
	background-color: #FFFFFF;
	border-radius: 10px;
}

.gameOverMenuButton {
	display: block;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #FFFFFF;
	height: 35px;
	padding: 5px;
	width: 200px;
	text-align: center;
	margin: 5px auto 5px auto;
	background-color: #30323F;
	border-radius: 10px;
	cursor: pointer;
}

.gameOverMenuButton:hover {
	background-color: #2B2D39;
}

/*
--------------------------------------------------------
Game
--------------------------------------------------------
*/

#gamePanel {
	position: relative;
	display: inline-block;
	height: 600px;
	width: 600px;
	background-color: #363947;
}

/*
--------------------------------------------------------
Sprites
- Emoji provided free by http://emojione.com
--------------------------------------------------------
*/

.sprite {
	position: absolute;
	height: 24px;
	width: 24px;
	padding: 3px;
}

/*
--------------------------------------------------------
Side Panel
--------------------------------------------------------
*/

#sidePanel {
	background-color: #3C3F4F;
	width: 300px;
	height: 600px;
	display: inline-block;
	position: relative;
}

#countDown {
	position: absolute;
	height: 50px;
	width: 500px;
	top: 200px;
	left: 50%;
	margin-left: -250px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 100px;
	font-weight: 700;
	color: #505261;
}
